/* noto-sans-kr-regular - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('./_fonts/noto-sans-kr-v21-latin_korean-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./_fonts/noto-sans-kr-v21-latin_korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./_fonts/noto-sans-kr-v21-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./_fonts/noto-sans-kr-v21-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
       url('./_fonts/noto-sans-kr-v21-latin_korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./_fonts/noto-sans-kr-v21-latin_korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-300 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url('./_fonts/noto-sans-kr-v21-latin_korean-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./_fonts/noto-sans-kr-v21-latin_korean-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./_fonts/noto-sans-kr-v21-latin_korean-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./_fonts/noto-sans-kr-v21-latin_korean-300.woff') format('woff'), /* Modern Browsers */
       url('./_fonts/noto-sans-kr-v21-latin_korean-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./_fonts/noto-sans-kr-v21-latin_korean-300.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-500 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('./_fonts/noto-sans-kr-v21-latin_korean-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./_fonts/noto-sans-kr-v21-latin_korean-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./_fonts/noto-sans-kr-v21-latin_korean-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./_fonts/noto-sans-kr-v21-latin_korean-500.woff') format('woff'), /* Modern Browsers */
       url('./_fonts/noto-sans-kr-v21-latin_korean-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./_fonts/noto-sans-kr-v21-latin_korean-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-700 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('./_fonts/noto-sans-kr-v21-latin_korean-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./_fonts/noto-sans-kr-v21-latin_korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./_fonts/noto-sans-kr-v21-latin_korean-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./_fonts/noto-sans-kr-v21-latin_korean-700.woff') format('woff'), /* Modern Browsers */
       url('./_fonts/noto-sans-kr-v21-latin_korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./_fonts/noto-sans-kr-v21-latin_korean-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-900 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url('./_fonts/noto-sans-kr-v21-latin_korean-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./_fonts/noto-sans-kr-v21-latin_korean-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./_fonts/noto-sans-kr-v21-latin_korean-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('./_fonts/noto-sans-kr-v21-latin_korean-900.woff') format('woff'), /* Modern Browsers */
       url('./_fonts/noto-sans-kr-v21-latin_korean-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./_fonts/noto-sans-kr-v21-latin_korean-900.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

/* poppins-100 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  src: url('./_fonts/poppins-v15-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./_fonts/poppins-v15-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./_fonts/poppins-v15-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('./_fonts/poppins-v15-latin-100.woff') format('woff'), /* Modern Browsers */
       url('./_fonts/poppins-v15-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./_fonts/poppins-v15-latin-100.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-200 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('./_fonts/poppins-v15-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./_fonts/poppins-v15-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./_fonts/poppins-v15-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('./_fonts/poppins-v15-latin-200.woff') format('woff'), /* Modern Browsers */
       url('./_fonts/poppins-v15-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./_fonts/poppins-v15-latin-200.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-300 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('./_fonts/poppins-v15-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./_fonts/poppins-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./_fonts/poppins-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./_fonts/poppins-v15-latin-300.woff') format('woff'), /* Modern Browsers */
       url('./_fonts/poppins-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./_fonts/poppins-v15-latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./_fonts/poppins-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./_fonts/poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./_fonts/poppins-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./_fonts/poppins-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./_fonts/poppins-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./_fonts/poppins-v15-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('./_fonts/poppins-v15-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./_fonts/poppins-v15-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./_fonts/poppins-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./_fonts/poppins-v15-latin-500.woff') format('woff'), /* Modern Browsers */
       url('./_fonts/poppins-v15-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./_fonts/poppins-v15-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('./_fonts/poppins-v15-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./_fonts/poppins-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./_fonts/poppins-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./_fonts/poppins-v15-latin-600.woff') format('woff'), /* Modern Browsers */
       url('./_fonts/poppins-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./_fonts/poppins-v15-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('./_fonts/poppins-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./_fonts/poppins-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./_fonts/poppins-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./_fonts/poppins-v15-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./_fonts/poppins-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./_fonts/poppins-v15-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-800 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('./_fonts/poppins-v15-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./_fonts/poppins-v15-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./_fonts/poppins-v15-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('./_fonts/poppins-v15-latin-800.woff') format('woff'), /* Modern Browsers */
       url('./_fonts/poppins-v15-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./_fonts/poppins-v15-latin-800.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-900 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('./_fonts/poppins-v15-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./_fonts/poppins-v15-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./_fonts/poppins-v15-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('./_fonts/poppins-v15-latin-900.woff') format('woff'), /* Modern Browsers */
       url('./_fonts/poppins-v15-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./_fonts/poppins-v15-latin-900.svg#Poppins') format('svg'); /* Legacy iOS */
}
html{font-size:10px;}
body{
	font-family:'Noto Sans KR' , sans-serif;
	font-size:1.6rem;
	font-weight: 400;
	line-height: 1.5;
	color: #fff;
}
.eng,
.poppins{
	font-family:'Poppins' , sans-serif !important;
}
.kor,
.notosnaskr{
	font-family:'Noto Sans KR' , sans-serif !important;
}

@media(max-width:1279.98px){
	html{font-size:9px;}
}
@media(max-width:991.98px){
	html{font-size:8px;}
}
@media(max-width:767.98px){
	html{font-size:7px;}
}